*{
  font-family: 'Rajdhani', sans-serif;
  color: white
}
body {
  background-color: black;
}

.header {
  width: 100%;
  padding: 50px;
  border: solid silver;
  border-width: 15px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.header img {
  float: right;
  width: 40%;
  height: auto;
}

.about {
  width: 60%;
  padding:50px;
  border: none;
  margin-bottom: 5px;
  box-sizing: border-box;
}
.about h2{
  text-align: center;
}

.epic {
  font-weight: bold;
}

.history {
  width: 60%;
  padding:50px;
  border: solid silver;
  margin-bottom: 5px;
  box-sizing: border-box;
  float: right;
}

.row{
  display: flex;
  box-sizing:border-box;
  width: 100%
}

.column{
  flex: 50%;
  padding: 10px;
}

.herethere {
  width: 100%;
}


